<h2>Contactese con nosotros!</h2>

<form [formGroup]="formUser" (ngSubmit)="enviarCorreo()">
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
        <mat-error *ngIf="nombre.hasError('required')">Nombre es requerido</mat-error>
        <mat-error *ngIf="nombre.hasError('minlength')">Minimo 6 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="email.hasError('required')">Email es requerido</mat-error>
        <mat-error *ngIf="email.hasError('email')">Email no valido</mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Mensaje</mat-label>
        <textarea matInput formControlName="mensaje"></textarea>
        <mat-error *ngIf="mensaje.hasError('required')">Mensaje es requerido</mat-error>
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="formUser.invalid">Enviar Correo</button>
</form>
